$body-color = #ffbc81

html, body
  height: 100%

html
  font-size: 1em
  line-height: 1.4

body
  background-color: $body-color
  font-family: helvetica, arial, sans-serif
  margin: 0

*, *:before, *:after
  box-sizing: border-box

// .input
//   background-color: #f3f3f3
//   border: 0
//   border-radius: 2px
//   color: #454545
//   font-size: 1em
//   margin: 0
//   overflow: hidden
//   padding: 1em
//   text-overflow: ellipsis
//   white-space: nowrap
//   width: 100%
